@{
    ViewBag.Title = "Messaging";
}

<h3>@ViewBag.Title</h3>

<hr/>

<form asp-action="SendEmail">
    <div class="btn-group w-100">
        <input type="submit" class="btn btn-sm btn-primary" value="Send e-mail test"/>
    </div>
</form>

<hr/>

<br/>
@await Html.PartialAsync("Partial/Emails/GreetingEmail")
<br/>