@model UserViewModel

@{
    ViewBag.Title = "Edit";
}

<h3>@ViewBag.Title</h3>
<hr/>

<form asp-action="Edit">
    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-sm btn-primary w-100"/>
        </div>
    </div>
</form>
    
<a asp-controller="Users" asp-action="Index">Back to list</a>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}