@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Итоговый проект курса "ASP.NET Core MVC"</h1>
    <p>Проект подготовил <a href="https://github.com/svekolnikov">Свекольников Алексей</a>.</p>
</div>